ul{
	margin-top:40px; 
	float: right;

}
ul li{
	display: inline-block;

}
ul li a{
	text-decoration: none;
	padding: 20px;
	color:black;
	font-weight: bold;

}
ul li a:hover{
	background-color: white;
	color: #727801;
	padding: 15px;
	border-radius: 20px;
	margin-bottom: -20px;
}
.i1
{
	background-color:#c0fcfc;
	height: 550px;
	width: 600px;
	margin-top: -610px;
	margin-left: 700px;
	background-size: cover;
	visibility: 10%;
	border: 2px solid #9ba3a3;
}
.t1
{
	width: 420px;
	height: 30px;
	visibility: 10px;
	background-color: inherit;
	font-size: 20px;
}
.i2
{
	margin-top: 90px;
}
.t2
{
	width: 190px;
	height: 25px;
	visibility: 10px;
	background-color: inherit;
	font-size: 20px;

}
.t3
{
	width: 90px;
	height: 25px;
	visibility: 10px;
	background-color: #bd97b8;
	font-size: 20px;
	
}